# Secrets
.env

# Local data.json
data.json

# Dependencies
node_modules/

# Build Output
dist/

# OS Junk
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*# Database
beans.db
beans.db-shm
beans.db-wal
src/beans.db-shm
src/beans.db-wal
error.log
